html, body {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
    background-color: #FFFFFF;
}

*:focus {
    outline: none;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5vh;
    text-align: center;
}

header {
    margin-top: 5vh;
}

header > a {
    width: 10vw;
}

header > a > img {
    width: 10vw;
}

main > h1 {
    font-weight: normal;
}

main > article {
    height: fit-content;
    padding-bottom: 2.5vh;
    background-color: #F5F5F5;
    width: 25vw;
    margin: 5vh auto 0 auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

main > article > form {
    display: grid;
    grid-template-columns: 1fr;
}

main > article > form > input {
    width: 90%;
    margin: 3vh 5% 0 5%;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 5px;
}

main > article > form > select {
    width: 90%;
    margin: 3vh 5% 0 5%;
    background-color: white;
    border: 1px solid lightgrey;
}


main > article > form > span {
    margin-top: 2vh;
}

main > article > form > span > a {
    color: #ae2573;    
}

main > article > form > span > a:hover {
    color: #881556;
}

main > article > form > button {
    width: 90%;
    margin: 2vh 5% 0 5%;
    padding: 1vh;
    background-color: #ae2573;
    color: white;
    border: none;   
    border-radius: 5px;
    cursor: pointer;
}

footer {
    height: 50px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p {
    text-align: center;
    color: #ae2573;
    font-weight: bold;
}

main > a {
    text-align: center;
    color: #ae2573;
    font-weight: bold;
    text-decoration: underline;
}

main > a:hover {
    color: #881556;
}