html, body {
    padding: 0;
    margin: 0;
    background-color: #ededed;
    font-family: Trebuchet MS;
}

*:focus {
    outline: none;
}

nav {
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid black;
    background-color: white;
    font-size: 1em;
}

nav > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 6vh;
    flex-wrap: wrap;
}

nav > ul > li:nth-of-type(1) {
    grid-column: 2;
}

nav > ul > li:nth-of-type(2) {
    grid-column: 4;
}

nav > ul > li:nth-of-type(3) {
    grid-column: 6;
}

nav > ul > li {
    margin-top: 2vh;
    height: 6vh;
    border-radius: 10px;
    padding: 1vh;
}

nav > ul > li:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > ul > li:nth-of-type(3):hover > ul {
    display: block;
}

nav > ul > li:not(:nth-of-type(1)) {
    background-color: #ae2573;
    color: white;
    font-weight: bold;
}

nav li > ul {
    list-style-type: none;
    display: none;
}

nav img {
    height: 6vh;
}

nav a, nav a:visited {
    color: white;
    text-decoration: none;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav a:hover {
    text-decoration: underline;
    color: #b9b9b9
}

nav > ul > li:hover {
    transform: scale(1.05);
    transition-duration: 500ms;
}

nav > ul > li:not(:hover) {
    transition-duration: 500ms;
}